# ignore all files in the folders below

data/*
!data/_images/

data/_images/*
!data/_images/Synthetic/

data/_images/Synthetic/*
!data/_images/Synthetic/RandomShots/
!data/_images/Synthetic/Animation_short_undistorted/


writing/*

programs/python

